Inpatient Care and Risk Documents/DEV/03 - Body Map/Templates/bodymap-tds.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated using tds-default.xsl v2.3 ($Revision: 4657 $)--><xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="Structure.xsd" namespace="http://schemas.openehr.org/v1"/><xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Body_Map">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Body Map"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="territory">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="category">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="event"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="openehr" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" fixed="433" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="composer" type="oe:PARTY_PROXY"/>
<xs:element name="context">
<xs:complexType>
<xs:sequence>
<xs:element name="start_time" type="oe:DV_DATE_TIME"/>
<xs:element name="end_time" minOccurs="0" maxOccurs="1" type="oe:DV_DATE_TIME"/>
<xs:element name="location" minOccurs="0" maxOccurs="1" type="xs:string"/>
<xs:element name="setting" type="oe:DV_CODED_TEXT"/>
<xs:element name="XDS_Metadata" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="XDS Metadata"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Author_specialty" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Author specialty"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Class_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Class code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Confidentiality_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Confidentiality code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Health_care_facility_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Health care facility type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Practice_setting_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Practice setting code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Event_code" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Event code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_media" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document_media"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="alternate_text" type="xs:string" minOccurs="0"/>
<xs:element name="uri" type="oe:DV_URI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="media_type">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:token" fixed="IANA_media-types"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="video/H263-1998"/>
<xs:enumeration value="video/H263-2000"/>
<xs:enumeration value="video/MPV"/>
<xs:enumeration value="video/quicktime"/>
<xs:enumeration value="text/calendar"/>
<xs:enumeration value="text/directory"/>
<xs:enumeration value="text/html"/>
<xs:enumeration value="text/plain"/>
<xs:enumeration value="text/rtf"/>
<xs:enumeration value="text/sgml"/>
<xs:enumeration value="text/tab-separated-values"/>
<xs:enumeration value="text/uri-list"/>
<xs:enumeration value="text/xml"/>
<xs:enumeration value="text/xml-external-parsed-entity"/>
<xs:enumeration value="image/png"/>
<xs:enumeration value="image/jpeg"/>
<xs:enumeration value="application/msword"/>
<xs:enumeration value="application/pdf"/>
<xs:enumeration value="audio/DVI4"/>
<xs:enumeration value="audio/G722"/>
<xs:enumeration value="audio/G723"/>
<xs:enumeration value="audio/G726-16"/>
<xs:enumeration value="audio/G726-24"/>
<xs:enumeration value="audio/G726-32"/>
<xs:enumeration value="audio/G726-40"/>
<xs:enumeration value="audio/G728"/>
<xs:enumeration value="audio/L8"/>
<xs:enumeration value="audio/L16"/>
<xs:enumeration value="audio/LPC"/>
<xs:enumeration value="audio/G729"/>
<xs:enumeration value="audio/G729D"/>
<xs:enumeration value="audio/G729E"/>
<xs:enumeration value="audio/mpeg"/>
<xs:enumeration value="audio/mpeg4-generic"/>
<xs:enumeration value="audio/L20"/>
<xs:enumeration value="audio/L24"/>
<xs:enumeration value="audio/telephone-event"/>
<xs:enumeration value="video/BT656"/>
<xs:enumeration value="video/CelB"/>
<xs:enumeration value="video/H261"/>
<xs:enumeration value="video/H263"/>
<xs:enumeration value="application/rtf"/>
<xs:enumeration value="application/dicom"/>
<xs:enumeration value="application/vnd.oasis.opendocument.text"/>
<xs:enumeration value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_MULTIMEDIA"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.xds_metadata.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_Metadata" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Metadata"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Document_Status" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Status"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0002"/><!-- Value = Approved --><xs:enumeration value="at0003"/><!-- Value = Draft --><xs:enumeration value="at0004"/><!-- Value = Recorded In Error --><xs:enumeration value="at0005"/><!-- Value = Final --><xs:enumeration value="at0008"/><!-- Value = Superseeded --><xs:enumeration value="at0009"/><!-- Value = Archived --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_Tags" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Tags"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Tag_Name" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Tag Name"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0006" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_References" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document References"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Reference"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="reference" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="reference"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="identifier" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="identifier"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="display_text" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="display text"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0016" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.document_metadata.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_Context" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter Context"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_type" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_reason" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter reason"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Appointment_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Appointment id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.encounter_context.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="health_care_facility" minOccurs="0" maxOccurs="1" type="oe:PARTY_IDENTIFIED"/>
<xs:element name="participations" minOccurs="0" maxOccurs="unbounded" type="oe:PARTICIPATION"/>
</xs:sequence>
<xs:attribute name="other_context_node_id" fixed="at0001" type="oe:archetypeNodeId"/>
<xs:attribute name="other_context_type" fixed="ITEM_TREE" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="Generic_Assessments" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Generic Assessments"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="encoding">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="UTF-8" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="subject" type="oe:PARTY_SELF"/>
<xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
<xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="protocol" minOccurs="0" maxOccurs="1">
<xs:complexType>
<xs:sequence>
<xs:element name="Last_Updated" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Last Updated"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="Assessment_Date" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessment Date"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
<xs:element name="Assessment_Comment" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessment Comment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0005" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Assessments" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessments"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="body_part_observation" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="body_part_observation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Body_Part" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Body Part"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Body_Map_Section_Number" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Body Map Section Number"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_COUNT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0006" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_COUNT"/>
</xs:complexType>
</xs:element>
<xs:element name="Comment_Group" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Comment Group"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Body_Part_Coded" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Body Part Coded"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local_terms" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="1"/><!-- Value =  -->
<xs:enumeration value="2"/><!-- Value =  -->
<xs:enumeration value="3"/><!-- Value =  -->
<xs:enumeration value="4"/><!-- Value =  -->
<xs:enumeration value="5"/><!-- Value =  -->
<xs:enumeration value="6"/><!-- Value =  -->
<xs:enumeration value="7"/><!-- Value =  -->
<xs:enumeration value="8"/><!-- Value =  -->
<xs:enumeration value="9"/><!-- Value =  -->
<xs:enumeration value="10"/><!-- Value =  -->
<xs:enumeration value="11"/><!-- Value =  -->
<xs:enumeration value="12"/><!-- Value =  -->
<xs:enumeration value="13"/><!-- Value =  -->
<xs:enumeration value="14"/><!-- Value =  -->
<xs:enumeration value="15"/><!-- Value =  -->
<xs:enumeration value="16"/><!-- Value =  -->
<xs:enumeration value="17"/><!-- Value =  -->
<xs:enumeration value="18"/><!-- Value =  -->
<xs:enumeration value="19"/><!-- Value =  -->
<xs:enumeration value="20"/><!-- Value =  -->
<xs:enumeration value="21"/><!-- Value =  -->
<xs:enumeration value="22"/><!-- Value =  -->
<xs:enumeration value="23"/><!-- Value =  -->
<xs:enumeration value="24"/><!-- Value =  -->
<xs:enumeration value="25"/><!-- Value =  -->
<xs:enumeration value="26"/><!-- Value =  -->
<xs:enumeration value="27"/><!-- Value =  -->
<xs:enumeration value="28"/><!-- Value =  -->
<xs:enumeration value="29"/><!-- Value =  -->
<xs:enumeration value="30"/><!-- Value =  -->
<xs:enumeration value="31"/><!-- Value =  -->
<xs:enumeration value="32"/><!-- Value =  -->
<xs:enumeration value="33"/><!-- Value =  -->
<xs:enumeration value="34"/><!-- Value =  -->
<xs:enumeration value="35"/><!-- Value =  -->
<xs:enumeration value="36"/><!-- Value =  -->
<xs:enumeration value="37"/><!-- Value =  -->
<xs:enumeration value="38"/><!-- Value =  -->
<xs:enumeration value="39"/><!-- Value =  -->
<xs:enumeration value="40"/><!-- Value =  -->
<xs:enumeration value="41"/><!-- Value =  -->
<xs:enumeration value="42"/><!-- Value =  -->
<xs:enumeration value="43"/><!-- Value =  -->
<xs:enumeration value="44"/><!-- Value =  -->
<xs:enumeration value="45"/><!-- Value =  -->
<xs:enumeration value="46"/><!-- Value =  -->
<xs:enumeration value="47"/><!-- Value =  -->
<xs:enumeration value="48"/><!-- Value =  -->
<xs:enumeration value="49"/><!-- Value =  -->
<xs:enumeration value="50"/><!-- Value =  -->
<xs:enumeration value="51"/><!-- Value =  -->
<xs:enumeration value="52"/><!-- Value =  -->
<xs:enumeration value="53"/><!-- Value =  -->
<xs:enumeration value="54"/><!-- Value =  -->
<xs:enumeration value="55"/><!-- Value =  --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Comment" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Comment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="No_issues_found" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="No issues found"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Check_Group" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Check Group"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Comprehensive_Check_Completed_quest_" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Comprehensive Check Completed?"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Exclusion_of_examination" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Exclusion of examination"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Examination_not_done">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Examination not done"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Reason" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Reason"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.exclusion_exam.v1" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Multimedia_Resource" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Multimedia Resource"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Name" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Name"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Description" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Description"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0005" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Multimedia" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Multimedia"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_MULTIMEDIA"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_MULTIMEDIA"/>
</xs:complexType>
</xs:element>
<xs:element name="URL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="URL"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_URI"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_URI"/>
</xs:complexType>
</xs:element>
<xs:element name="Source" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Source"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Author" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Author"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Date_created" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Date created"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
<xs:element name="Date_published" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Date published"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0006" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
<xs:element name="Version" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Version"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.multimedia.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.body_part_observation.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0006" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-EVALUATION.generic_assessment_collection.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="EVALUATION" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-COMPOSITION.encounter.v1" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="COMPOSITION" name="type"/>
<xs:attribute fixed="bodymap" name="template_id" use="required"/>
</xs:complexType>
</xs:element></xs:schema>
