Inpatient Care and Risk Documents/05 - Diabetes Froot Screening Assessment/Templates/Diabetic Foot Screening-tds.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated using tds-default.xsl v2.3 ($Revision: 4657 $)--><xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="Structure.xsd" namespace="http://schemas.openehr.org/v1"/><xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Diabetic_Foot_Screening">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Diabetic Foot Screening"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="territory">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="category">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="event"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="openehr" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" fixed="433" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="composer" type="oe:PARTY_PROXY"/>
<xs:element name="context">
<xs:complexType>
<xs:sequence>
<xs:element name="start_time" type="oe:DV_DATE_TIME"/>
<xs:element name="end_time" minOccurs="0" maxOccurs="1" type="oe:DV_DATE_TIME"/>
<xs:element name="location" minOccurs="0" maxOccurs="1" type="xs:string"/>
<xs:element name="setting" type="oe:DV_CODED_TEXT"/>
<xs:element name="XDS_Metadata" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="XDS Metadata"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Author_specialty" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Author specialty"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Class_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Class code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Confidentiality_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Confidentiality code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Health_care_facility_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Health care facility type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Practice_setting_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Practice setting code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Event_code" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Event code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_media" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document_media"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="alternate_text" type="xs:string" minOccurs="0"/>
<xs:element name="uri" type="oe:DV_URI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="media_type">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:token" fixed="IANA_media-types"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="video/H263-1998"/>
<xs:enumeration value="video/H263-2000"/>
<xs:enumeration value="video/MPV"/>
<xs:enumeration value="video/quicktime"/>
<xs:enumeration value="text/calendar"/>
<xs:enumeration value="text/directory"/>
<xs:enumeration value="text/html"/>
<xs:enumeration value="text/plain"/>
<xs:enumeration value="text/rtf"/>
<xs:enumeration value="text/sgml"/>
<xs:enumeration value="text/tab-separated-values"/>
<xs:enumeration value="text/uri-list"/>
<xs:enumeration value="text/xml"/>
<xs:enumeration value="text/xml-external-parsed-entity"/>
<xs:enumeration value="image/png"/>
<xs:enumeration value="image/jpeg"/>
<xs:enumeration value="application/msword"/>
<xs:enumeration value="application/pdf"/>
<xs:enumeration value="audio/DVI4"/>
<xs:enumeration value="audio/G722"/>
<xs:enumeration value="audio/G723"/>
<xs:enumeration value="audio/G726-16"/>
<xs:enumeration value="audio/G726-24"/>
<xs:enumeration value="audio/G726-32"/>
<xs:enumeration value="audio/G726-40"/>
<xs:enumeration value="audio/G728"/>
<xs:enumeration value="audio/L8"/>
<xs:enumeration value="audio/L16"/>
<xs:enumeration value="audio/LPC"/>
<xs:enumeration value="audio/G729"/>
<xs:enumeration value="audio/G729D"/>
<xs:enumeration value="audio/G729E"/>
<xs:enumeration value="audio/mpeg"/>
<xs:enumeration value="audio/mpeg4-generic"/>
<xs:enumeration value="audio/L20"/>
<xs:enumeration value="audio/L24"/>
<xs:enumeration value="audio/telephone-event"/>
<xs:enumeration value="video/BT656"/>
<xs:enumeration value="video/CelB"/>
<xs:enumeration value="video/H261"/>
<xs:enumeration value="video/H263"/>
<xs:enumeration value="application/rtf"/>
<xs:enumeration value="application/dicom"/>
<xs:enumeration value="application/vnd.oasis.opendocument.text"/>
<xs:enumeration value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_MULTIMEDIA"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.xds_metadata.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_Metadata" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Metadata"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Document_Status" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Status"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0002"/><!-- Value = Approved --><xs:enumeration value="at0003"/><!-- Value = Draft --><xs:enumeration value="at0004"/><!-- Value = Recorded In Error --><xs:enumeration value="at0005"/><!-- Value = Final --><xs:enumeration value="at0008"/><!-- Value = Superseeded --><xs:enumeration value="at0009"/><!-- Value = Archived --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_Tags" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document Tags"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Tag_Name" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Tag Name"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0006" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_References" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document References"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Reference"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="reference" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="reference"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="identifier" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="identifier"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="display_text" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="display text"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0016" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.document_metadata.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_Context" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter Context"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_type" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_reason" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter reason"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Appointment_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Appointment id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.encounter_context.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="health_care_facility" minOccurs="0" maxOccurs="1" type="oe:PARTY_IDENTIFIED"/>
<xs:element name="participations" minOccurs="0" maxOccurs="unbounded" type="oe:PARTICIPATION"/>
</xs:sequence>
<xs:attribute name="other_context_node_id" fixed="at0001" type="oe:archetypeNodeId"/>
<xs:attribute name="other_context_type" fixed="ITEM_TREE" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="Diabetes_Foot_Screening_Assessment" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="Diabetes Foot Screening Assessment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="encoding">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="UTF-8" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="subject" type="oe:PARTY_SELF"/>
<xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
<xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="protocol" minOccurs="0" maxOccurs="1">
<xs:complexType>
<xs:sequence/>
<xs:attribute fixed="at0035" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="Diabetes_Question" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Diabetes Question"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Does_the_Patient_Have_Diabetes" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Does the Patient Have Diabetes"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Diabetes_Type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Diabetes Type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local_terms" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="46635009"/><!-- Value =  -->
<xs:enumeration value="44054006"/><!-- Value =  --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0029" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0028" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Bilateral_Amputee" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Bilateral Amputee"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0026" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Is_the_patient_unable_to_comprehend_or_answer_questions_quest_" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Is the patient unable to comprehend or answer questions?"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0030" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Foot_Sensation_Left" minOccurs="0" maxOccurs="2">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="Foot Sensation Left"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Laterality" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Laterality"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" fixed="at0009" type="xs:string"/><!-- Value = Left --></xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="First_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="First Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Second_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Second Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Third_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Third Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Fourth_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Fourth Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Fifth_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Fifth Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Foot_Sensation_Right" minOccurs="0" maxOccurs="2">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="Foot Sensation Right"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Laterality" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Laterality"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" fixed="at0010" type="xs:string"/><!-- Value = Right --></xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="First_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="First Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Second_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Second Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Third_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Third Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Fourth_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Fourth Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Fifth_Toe_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Fifth Toe Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Additional_Questions" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Additional Questions"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Is_there_evidence_of_inflammation_comma__acute_infection_comma__gangrene_or_broken_skin_quest_" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Is there evidence of inflammation, acute infection, gangrene or broken skin?"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0036" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Tissue_Condition" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Tissue Condition"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0017"/><!-- Value = Inflamation --><xs:enumeration value="at0018"/><!-- Value = Broken Skin --><xs:enumeration value="at0019"/><!-- Value = Acute Infection --><xs:enumeration value="at0020"/><!-- Value = Gangrene --><xs:enumeration value="at0024"/><!-- Value = Normal --><xs:enumeration value="at0025"/><!-- Value = Abnormal --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0016" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Reduced_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Reduced Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0021" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Normal_Sensation" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Normal Sensation"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0022" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Comment" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Comment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0023" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0027" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Assessment_Outcome" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessment Outcome"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0032"/><!-- Value = No Action Required --><xs:enumeration value="at0033"/><!-- Value = Urgent Diabetes Specialist Podiatrist Team Review Required --><xs:enumeration value="at0034"/><!-- Value = Referral to Inpatient Podiatry Required --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0031" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-EVALUATION.paitent_diabetes_foot_screening.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="EVALUATION" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-COMPOSITION.encounter.v1" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="COMPOSITION" name="type"/>
<xs:attribute fixed="Diabetic Foot Screening" name="template_id" use="required"/>
</xs:complexType>
</xs:element></xs:schema>
