Inpatient Care and Risk Documents/UAT/10 - Bed Rail and Low Bed Assessment/Templates/Bed rail and low bed risk assessment-tds.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated using tds-default.xsl v2.3 ($Revision: 4657 $)--><xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="Structure.xsd" namespace="http://schemas.openehr.org/v1"/><xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Bed_rail_and_low_bed_risk_assessment">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Bed rail and low bed risk assessment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="territory">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="category">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="event"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="openehr" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" fixed="433" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="composer" type="oe:PARTY_PROXY"/>
<xs:element name="context">
<xs:complexType>
<xs:sequence>
<xs:element name="start_time" type="oe:DV_DATE_TIME"/>
<xs:element name="end_time" minOccurs="0" maxOccurs="1" type="oe:DV_DATE_TIME"/>
<xs:element name="location" minOccurs="0" maxOccurs="1" type="xs:string"/>
<xs:element name="setting" type="oe:DV_CODED_TEXT"/>
<xs:element name="Encounter_Context" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter Context"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_type" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Encounter_reason" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Encounter reason"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Appointment_id" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Appointment id"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.encounter_context.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="XDS_Metadata" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="XDS Metadata"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Author_specialty" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Author specialty"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Class_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Class code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Confidentiality_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Confidentiality code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Health_care_facility_type" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Health care facility type"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Practice_setting_code" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Practice setting code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Event_code" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Event code"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_TEXT"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_TEXT"/>
</xs:complexType>
</xs:element>
<xs:element name="Document_media" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Document_media"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="alternate_text" type="xs:string" minOccurs="0"/>
<xs:element name="uri" type="oe:DV_URI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="media_type">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:token" fixed="IANA_media-types"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="video/H263-1998"/>
<xs:enumeration value="video/H263-2000"/>
<xs:enumeration value="video/MPV"/>
<xs:enumeration value="video/quicktime"/>
<xs:enumeration value="text/calendar"/>
<xs:enumeration value="text/directory"/>
<xs:enumeration value="text/html"/>
<xs:enumeration value="text/plain"/>
<xs:enumeration value="text/rtf"/>
<xs:enumeration value="text/sgml"/>
<xs:enumeration value="text/tab-separated-values"/>
<xs:enumeration value="text/uri-list"/>
<xs:enumeration value="text/xml"/>
<xs:enumeration value="text/xml-external-parsed-entity"/>
<xs:enumeration value="image/png"/>
<xs:enumeration value="image/jpeg"/>
<xs:enumeration value="application/msword"/>
<xs:enumeration value="application/pdf"/>
<xs:enumeration value="audio/DVI4"/>
<xs:enumeration value="audio/G722"/>
<xs:enumeration value="audio/G723"/>
<xs:enumeration value="audio/G726-16"/>
<xs:enumeration value="audio/G726-24"/>
<xs:enumeration value="audio/G726-32"/>
<xs:enumeration value="audio/G726-40"/>
<xs:enumeration value="audio/G728"/>
<xs:enumeration value="audio/L8"/>
<xs:enumeration value="audio/L16"/>
<xs:enumeration value="audio/LPC"/>
<xs:enumeration value="audio/G729"/>
<xs:enumeration value="audio/G729D"/>
<xs:enumeration value="audio/G729E"/>
<xs:enumeration value="audio/mpeg"/>
<xs:enumeration value="audio/mpeg4-generic"/>
<xs:enumeration value="audio/L20"/>
<xs:enumeration value="audio/L24"/>
<xs:enumeration value="audio/telephone-event"/>
<xs:enumeration value="video/BT656"/>
<xs:enumeration value="video/CelB"/>
<xs:enumeration value="video/H261"/>
<xs:enumeration value="video/H263"/>
<xs:enumeration value="application/rtf"/>
<xs:enumeration value="application/dicom"/>
<xs:enumeration value="application/vnd.oasis.opendocument.text"/>
<xs:enumeration value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_MULTIMEDIA"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-CLUSTER.xds_metadata.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="health_care_facility" minOccurs="0" maxOccurs="1" type="oe:PARTY_IDENTIFIED"/>
<xs:element name="participations" minOccurs="0" maxOccurs="unbounded" type="oe:PARTICIPATION"/>
</xs:sequence>
<xs:attribute name="other_context_node_id" fixed="at0001" type="oe:archetypeNodeId"/>
<xs:attribute name="other_context_type" fixed="ITEM_TREE" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="LRLB_risk_assessment">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" fixed="LRLB risk assessment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
<xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="language">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="en" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="encoding">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string" default="UTF-8" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="subject" type="oe:PARTY_SELF"/>
<xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
<xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="origin" type="oe:DV_DATE_TIME" minOccurs="0"/>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element name="Any_event_as_Point_Event">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Any event"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="time" type="oe:DV_DATE_TIME"/>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="Assessment_Date" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessment Date"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0026" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
<xs:element name="Initial_assessment">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Initial assessment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_unlikely_faller_and_not_requesting_bed_rails_quest_">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is unlikely faller and not requesting bed rails?"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0005" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Stage_1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Stage 1"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_likely_to_attempt_to_get_out_of_bed_alone_and_fslash_or_previously_attempted_whilst_bedrails_in_use" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is likely to attempt to get out of bed alone and/or previously attempted whilst bedrails in use"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_restless__fslash__uncontrolled_limb_movements__fslash__significant_confusion__openBrkt_excluding_seizures_closeBrkt_" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is restless / uncontrolled limb movements / significant confusion (excluding seizures)"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_a_likely_or_possible_faller_but_declining_bedrail_use" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is a likely or possible faller but declining bedrail use"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_has_difficulty_rolling_over_in_bed__-__bed_rail_will_assist_independence" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient has difficulty rolling over in bed - bed rail will assist independence"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="CVE_disruption_in_spatial__fslash__visual_awareness_prd__At_risk_of_rolling_out_bed_prd__Patient_unlikely_to_get_out_of_bed" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="CVE disruption in spatial / visual awareness. At risk of rolling out bed. Patient unlikely to get out of bed"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_has_requested_bed_rails_or_uses_bed_rails_at_home" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient has requested bed rails or uses bed rails at home"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Stage_2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Stage 2"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Requires_assistance_of_1_or_more_staff_to_stand" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Requires assistance of 1 or more staff to stand"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0016" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Able_to_stand_without_assistance" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Able to stand without assistance"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0017" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Bed_rail_in_good_condition_and_detachable_rail_fitted_correctly" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Bed rail in good condition and detachable rail fitted correctly"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0018" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Final_result">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Final result"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Result">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Result"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0021"/><!-- Value = Do not use bed rails. Use low bed. Consider floor mats. Consider increased patient supervision. --><xs:enumeration value="at0022"/><!-- Value = Do not use bed rails. Do not use low bed. Keep bed on lowest level to allow sit to stand. Consider increased patient supervision. --><xs:enumeration value="at0023"/><!-- Value = Use bed rail. Ensure bed rail is in good condition. Consider increased patient supervision. --><xs:enumeration value="at0024"/><!-- Value = Bed rail to be used on standard bed. Ensure bed rail is in good condition. Supervision not required. --><xs:enumeration value="at0025"/><!-- Value = Patient is unlikely faller - no further assessment is required. --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0019" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute name="type" fixed="POINT_EVENT"/>
<xs:attribute name="offset" fixed=""/>
</xs:complexType>
</xs:element>
<xs:element name="Any_event_as_Interval_Event">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Any event"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="time" type="oe:DV_DATE_TIME"/>
<xs:element name="width" type="oe:DV_DURATION"/>
<xs:element name="math_function" type="oe:DV_CODED_TEXT"/>
<xs:element name="data">
<xs:complexType>
<xs:sequence>
<xs:element name="Assessment_Date" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Assessment Date"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_DATE_TIME"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0026" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
</xs:complexType>
</xs:element>
<xs:element name="Initial_assessment">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Initial assessment"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_unlikely_faller_and_not_requesting_bed_rails_quest_">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is unlikely faller and not requesting bed rails?"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0005" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0004" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Stage_1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Stage 1"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_likely_to_attempt_to_get_out_of_bed_alone_and_fslash_or_previously_attempted_whilst_bedrails_in_use" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is likely to attempt to get out of bed alone and/or previously attempted whilst bedrails in use"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0010" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_restless__fslash__uncontrolled_limb_movements__fslash__significant_confusion__openBrkt_excluding_seizures_closeBrkt_" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is restless / uncontrolled limb movements / significant confusion (excluding seizures)"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0011" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_is_a_likely_or_possible_faller_but_declining_bedrail_use" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient is a likely or possible faller but declining bedrail use"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0012" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_has_difficulty_rolling_over_in_bed__-__bed_rail_will_assist_independence" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient has difficulty rolling over in bed - bed rail will assist independence"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0013" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="CVE_disruption_in_spatial__fslash__visual_awareness_prd__At_risk_of_rolling_out_bed_prd__Patient_unlikely_to_get_out_of_bed" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="CVE disruption in spatial / visual awareness. At risk of rolling out bed. Patient unlikely to get out of bed"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0014" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Patient_has_requested_bed_rails_or_uses_bed_rails_at_home" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Patient has requested bed rails or uses bed rails at home"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0015" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0007" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Stage_2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Stage 2"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Requires_assistance_of_1_or_more_staff_to_stand" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Requires assistance of 1 or more staff to stand"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0016" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Able_to_stand_without_assistance" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Able to stand without assistance"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0017" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
<xs:element name="Bed_rail_in_good_condition_and_detachable_rail_fitted_correctly" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Bed rail in good condition and detachable rail fitted correctly"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value" type="oe:DV_BOOLEAN"/>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0018" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_BOOLEAN"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0008" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
<xs:element name="Final_result">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Final result"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Result">
<xs:complexType>
<xs:sequence>
<xs:element name="name">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" default="Result"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element name="value">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defining_code">
<xs:complexType>
<xs:sequence>
<xs:element name="terminology_id">
<xs:complexType>
<xs:sequence>
<xs:element name="value" fixed="local" type="xs:token"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="code_string">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="at0021"/><!-- Value = Do not use bed rails. Use low bed. Consider floor mats. Consider increased patient supervision. --><xs:enumeration value="at0022"/><!-- Value = Do not use bed rails. Do not use low bed. Keep bed on lowest level to allow sit to stand. Consider increased patient supervision. --><xs:enumeration value="at0023"/><!-- Value = Use bed rail. Ensure bed rail is in good condition. Consider increased patient supervision. --><xs:enumeration value="at0024"/><!-- Value = Bed rail to be used on standard bed. Ensure bed rail is in good condition. Supervision not required. --><xs:enumeration value="at0025"/><!-- Value = Patient is unlikely faller - no further assessment is required. --></xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0019" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ELEMENT" name="type"/>
<xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0009" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="CLUSTER" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0003" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="ITEM_TREE" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="at0002" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute name="type" fixed="INTERVAL_EVENT"/>
<xs:attribute name="offset"/>
</xs:complexType>
</xs:element>
</xs:choice>
</xs:sequence>
<xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-OBSERVATION.bed_rails_low_bed_risk_assessment.v0" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="OBSERVATION" name="type"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute fixed="openEHR-EHR-COMPOSITION.encounter.v1" name="archetype_node_id" type="oe:archetypeNodeId"/>
<xs:attribute fixed="COMPOSITION" name="type"/>
<xs:attribute fixed="Bed rail and low bed risk assessment" name="template_id" use="required"/>
</xs:complexType>
</xs:element></xs:schema>
